#root {
  max-width: 1280px;
  margin: 0 auto;
  /*text-align: center;*/
}

/*.logo {*/
/*  height: 12em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/

.collapsible-selector-container {
  .btn-style {
    &:hover {
      background-color: white;
    }

    cursor: pointer;
    border: 1px #ced4da solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
  }

  .clickable-text {
    &:hover {
      color: #3cace4;
    }

    cursor: pointer;
  }
  
  .clickable-row {
    &:hover {
      background-color: #f8f8f8;
    }

    cursor: pointer;
    border-bottom: 1px #ced4da solid;
  }
}

.mantine-Modal-root {

  section {
    padding: 0 !important;
  }

  .modal-dialog-body {
    min-height: 4lh;
  }

  .modal-dialog-footer {
    .btn {
      height: 2rem;
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
    }
  }
}

.submission-form {
  .mantine-Input-input {
    --input-placeholder-color: #666 !important;
    --input-bd-focus: #3cace4 !important;
  }
  .mantine-Select-wrapper input {
    --input-color: #666 !important;
  }

  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

  h1, h2, .mantine-InputWrapper-label, .mantine-Pill-root, input, textarea, .mantine-Dropzone-inner {
    color: #495057;
  }

  h3, h4, .info-box, span.mantine-InputWrapper-required, .uploaded-files, .mantine-Checkbox-label {
    color: #666;
  }

  h1, h2, .mantine-InputWrapper-label {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    border-bottom: 1px #d3d3d3 solid;
    width: 100%;
    line-height: 1.2;
    padding-top: 2rem;
    margin-bottom: 1.4rem;
    padding-bottom: 0.5rem;

    span.mantine-InputWrapper-required {
      color: white;
      display: inline-block;
      font-size: 0;
    }

    &:not(.ommit-optional):not(:has(span.mantine-InputWrapper-required))::after {
      content: "(optional)";
      display: inline;
      font-size: .85rem;
      margin-left: 0.85rem;
    }
  }

  .info-box .list-group-flush {
    border: 1px #d3d3d3 solid;
    border-radius: 5px;

    > li.list-group-item {
      border: none;
    }

    .info-box-header {
      padding: 0.75rem 1.25rem 0 1.25rem
    }

    .data-field {
      margin-left: 0.6rem;
      padding-left: 1rem;
      border-left: 2px solid #d3d3d3;
      font-size: .7rem;
    }
  }

  a, button.link-style {
    color: #3cace4;

    &:hover {
      color: #ff8362;
      text-decoration: unset;
    }
  }

  button.link-style {
    border: none !important;
    font-weight: 400;
    background: none !important;
    padding: 0 0.5rem;
    font-size: 1rem;

    i.icon {
      font-size: 1.5rem;
    }
  }

  .mantine-Pill-root {
    margin-top: -0.25rem;
    height: auto;
    background-color: #f8fcfd;
    border: 1px #3cace4 solid;
    color: #3cace4;

    .mantine-Pill-label {
      font-size: 1rem;
      line-height: 1rem;
      padding-top: .4rem;
      padding-bottom: 0.1rem;
    }
  }

  button.submission-button {
    border: #80b148 1px solid;
    background-color: #80b148;
    color: white;
    width: 100%;

    &:hover {
      border: #80b148 1px solid;
      color: #80b148;
      background-color: white;
    }
  }

  .use-line-breaks {
    white-space: pre-wrap;
  }

  .mantine-CheckboxGroup-root {
    .mantine-CheckboxGroup-description {
      padding-bottom: .5rem;
    }

    [role="group"] {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .mantine-Checkbox-root {
        line-break: anywhere;

        input {
          --checkbox-color: #80b148;
        }

        label {
          padding-right:1rem;
          font-size: 1rem;
        }
      }
    }
  }

  .mantine-MultiSelect-input, .mantine-TagsInput-input {
    padding-top: 0.55rem;
  }

  .mantine-Dropzone-inner {
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
  }

  .green-text {
    color: #80b148;
  }
}

.mantine-Modal-root {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #495057;

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .mantine-Modal-overlay {
    background-color: #fff;
    opacity: 0.666 !important;
  }

  .mantine-Modal-content {
    border: 1px solid #d3d3d3;
    border-radius: 5px;

    header {
      border-bottom: 1px solid #d3d3d3;
    }
  }

  button.button-inverted {
    border: 1px solid;
    font-weight: 400;

    &:not(:hover) {
      background: none !important;
    }
    
    &:hover {
      color: white !important;
    }

    &.blue-button {
      border-color: #3cace4;
      color: #3cace4;
      background-color: #3cace4;
    }

    &.red-button {
      border-color: #dc3444;
      color: #dc3444;
      background-color: #dc3444;
    }

    &.green-button {
      border-color: #80b148;
      color: #80b148;
      background-color: #80b148;

    }
  }

  .mantine-DatePicker-levelsGroup .mantine-DatePicker-day {
    &:hover {
      background-color: #80b148 !important;
      color: white;
    }

    &[data-selected="true"] {
      background-color: #3cace4 !important;
      color: white;
    }
  }
}