.side-col-item {

    margin-bottom: 1.5rem;

    h6 {
        @include raleway;
        font-size: .75rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: .75rem;
    }

    hr {
        margin-bottom: 0.75rem;
        max-width: none;
        border-top: 1px solid $gray-medium;
        width: 100%;
    }

}

.dark-section {
    padding: 6rem 0 6rem 0;

    .mb-160 {
        margin-bottom: 160px;
    }

    h1 {
        @include raleway;
        font-weight: 100;
        color: $white;
        font-size: 3.5rem;
    }

    h6 {
        @include raleway;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: .75rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    hr {
        max-width: none;
        border-top: 1px solid $gray-700;
        width: 100%;
    }

    p.lead {
        color: $white;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7rem;
    }

    .icon {
        display: inline-block;
        color: $white;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            color: $white;
            font-size: .8rem;
            line-height: 1.5rem;
        }
    }

}

// TODO: refactor and extract redundancies to darksection
.light-section {
    padding: 6rem 0 6rem 0;

    .mb-160 {
        margin-bottom: 160px;
    }

    .mb-100 {
        margin-bottom: 100px;
    }

    h1 {
        @include raleway;
        font-weight: 100;
        color: $gray-darkest;
        font-size: 3.5rem;
    }

    h6 {
        @include raleway;
        color: $gray-darkest;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: .75rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    hr {
        max-width: none;
        border-top: 1px solid $gray-700;
        width: 100%;
    }

    p.lead {
        color: $gray-dark;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7rem;
    }

    .icon {
        display: inline-block;
        color: $gray-darkest;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            color: $gray-dark;
            font-size: .8rem;
            line-height: 1.5rem;
        }
    }

}

section#testimonials {

    height: 580px !important;

    .carousel-control-next, .carousel-control-prev {
        color: $gray-dark;
    }

    p.lead {
        font-size: 1.4rem;
        color: $gray-darker;
    }

    p.lead-anonymous {
        font-size: 2rem;
        line-height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 400;
        color: $gray-darker;
        margin-bottom: 0.2rem;
    }

    h5 {
        font-size: 0.8rem;
        font-weight: 400;
        color: $gray-dark;
    }

    .anonymous-quote {
        min-height: 240px;
    }

    i.fa {
        font-size: 10rem;
        color: $gray-medium;
    }
}

section#twitter {

    background-color: $gfbio-light-blue;

    hr {
        border-top: 1px solid $white;
    }
    .mb-100 {
        margin-bottom: 100px;
    }

    i {
        font-size: 8rem;
        color: $white-opac;
    }

}
