h1.current-location {
  @include raleway;
  color: $gfbio-blue;
  font-weight: 200;
  margin-bottom: 2rem;

  i {
    color: $gfbio-blue;
  }
}

.col-form-label {
  // @include raleway;
  font-size: .9rem;
}

// works on btn-secondary
.green-blue {
  background-color: $gfbio-green;
  color: $white !important;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $gfbio-blue;
    color: $white !important;
  }
}

// works on btn-secondary
.blue-green {
  background-color: $gfbio-blue;
  color: $white !important;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $gfbio-green;
    color: $white !important;
  }
}

.boxed {
  padding: 2rem;
  background-color: $white;
  border: 1px solid $gray-medium;
  border-radius: .25rem;
}

// works on btn-secondary
.green {
  border-color: darken($gfbio-green, .2);
  background-color: $gfbio-green;
  color: $white !important;

  &:focus {
    box-shadow: none;
  }

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($gfbio-green, .2);
    background-color: $white;
    color: $gfbio-green !important;
    box-shadow: none;
  }

  i {
    margin-right: .75rem;
  }
}

// works on btn-secondary
.red {
  border-color: darken($error-red, .2);
  background-color: $error-red;
  color: $white !important;

  &:focus {
    box-shadow: none;
  }

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($error-red, .2);
    background-color: $white;
    color: $error-red !important;
    box-shadow: none;
  }

  i {
    margin-right: .75rem;
  }
}

.btn-red-inverted {
  border-color: darken($error-red, .2);
  background-color: $white;
  color: $error-red !important;

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($error-red, .2);
    background-color: $error-red;
    color: $white !important;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $error-red;
    color: $white !important;
  }
}



// works on btn-secondary
// TODO: refactor to generic class, light-blue button
.btn-light-blue {
  background-color: $gfbio-light-blue;
  border-color: darken($gfbio-light-blue, .2);

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($gfbio-light-blue, .2);
    background-color: $white;
    color: $gfbio-light-blue !important;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $white;
    color: $gfbio-light-blue !important;
  }

  i {
    margin-right: .75rem;
  }
}

// works on btn-secondary
// TODO: refactor to generic class, light-blue button
.btn-light-blue-inverted {
  //background-color: $gfbio-light-blue;
  background-color: $white;
  color: $gfbio-light-blue !important;
  border-color: darken($gfbio-light-blue, .2);

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($gfbio-light-blue, .2);
    //background-color: $white;
    //color: $gfbio-light-blue !important;
    background-color: $gfbio-light-blue;
    color: $white !important;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $gfbio-light-blue;
    color: $white !important;
  }
}

// works on btn-secondary
// TODO: refactor to generic class, light-blue button
.btn-green-inverted {
  //background-color: $gfbio-light-blue;
  background-color: $white;
  color: $gfbio-green !important;
  border-color: darken($gfbio-green, .2);

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($gfbio-green, .2);
    //background-color: $white;
    //color: $gfbio-light-blue !important;
    background-color: $gfbio-green;
    color: $white !important;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $gfbio-green;
    color: $white !important;
  }

}

// works on btn-secondary
// TODO: refactor to generic class, light-blue button
//.btn-form {
//  //background-color: $gfbio-light-blue;
//  background-color: $white;
//  color: $gfbio-light-blue !important;
//  border-color: darken($gfbio-light-blue, .2);
//
//  &:hover, &:not(:disabled):not(.disabled):active,
//  &:not(:disabled):not(.disabled).active {
//    &:focus {
//      box-shadow: none;
//    }
//
//    border-color: darken($contrast-1, .2);
//    //background-color: $white;
//    //color: $gfbio-light-blue !important;
//    background-color: $white;
//    color: $contrast-1 !important;
//    box-shadow: none;
//  }
//
//  &:focus {
//    box-shadow: none;
//  }
//
//  &:hover {
//    //background-color: $contrast-1;
//    color: $contrast-1 !important;
//  }
//}

//.btn-contrast {
//  background-color: $gfbio-blue;
//  border-color: darken($contrast-1, .2);
//
//  &:hover, &:not(:disabled):not(.disabled):active,
//  &:not(:disabled):not(.disabled).active {
//    &:focus {
//      box-shadow: none;
//    }
//
//    border-color: darken($gfbio-light-blue, .2);
//    background-color: $white;
//    color: $gfbio-light-blue !important;
//    box-shadow: none;
//  }
//
//  &:focus {
//    box-shadow: none;
//  }
//
//  &:hover {
//    background-color: $white;
//    color: $gfbio-light-blue !important;
//  }
//
//  i {
//    padding-right: .5rem;
//  }
//}

/* copy of parts of _search.scss .search-page-title */
/* sub navigation section header area */
.sub-navigation-header {
  // using padding to adapt for nav height does not produce scrollbar
  padding: 57px 0 0 0;

  //originally this margin to adapt for nav height
  //margin-top: 57px;

  // using padding instead of margin, needs larger height
  height: 18.5rem;
  background-color: $gray-100;
}

/* end sub navigation section header area */

section.sub-navi {
  // TODO: hardcoded top margin to adapt for 57px floating main navigation
  // margin-top: 57px;
  // padding: 0 0 2rem 0;
  padding: 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid $gray-medium;

  .nav {

    /*
     font-size: .8rem;
    color: $gray-800;*/

    .nav-link {
      @include raleway;
      //font-size: .85rem;
      font-size: 1rem;
      color: $gray-800;
      //border-top-left-radius: .25rem;
      //border-top-right-radius: .25rem;

      i {
        padding-right: .5rem;
      }

      &:hover {
        background-color: $gfbio-light-blue;
        color: $white;
      }

    }

    .active {
      font-weight: bold;
    }

  }

}

/* collapse as success message */

.success-message {

  border: 1px solid $gray-300;
  border-radius: .25rem;
  margin-bottom: 2rem;
  padding: 1rem;

  i {
    font-size: 3.5rem;
    color: $gfbio-green-0-9;
    display: block;
  }

  i.close {
    font-size: 2rem;
    color: $gfbio-green-0-9;
  }

  h4 {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: .25rem;
  }
}

/* end collapse as success message */

/* modal */
.modal-backdrop {
  background-color: $white;
  opacity: 0.7 !important;
}

.modal-content {

  .modal-header {
    border-bottom: 1px solid $form-gray-1;
    //border: none;

    h2, h3, h4, h5, h6 {
      @include raleway;
      font-weight: 300;
      color: $gray-darker;
      margin: 0;

    }

    .modal-title {
      @include raleway;
      font-weight: 300;
      color: $gray-darker;
    }
  }

  .modal-body {
    //@include raleway;
    color: $gray-darker;
    font-weight: 300;
  }

  .modal-footer {
    border: none;
  }
}

/*

.modal-content {
  border-color: $white;
}


.modal-header {

  .modal-title {
    @include raleway;
    border: none;
    font-weight: 300;
  }

  border: none;

}

.modal-body {
  border: none;
}

.modal-footer {
  border: none;
}


*/
/* end modal */

/* Submission form wrapper */

.submission-form-wrapper {
  //padding-left: 2.25rem;
  padding-left: 1.25rem;
}

/* end  Submission form wrapper */

/* Submission List */

.submission-list-wrapper {

  //padding-left: 2.25rem;
  padding-left: 1.25rem;

  h6 {
    text-transform: uppercase;
    color: $gray-700;
    font-size: .8rem;
    font-weight: bold;
  }

  .list-start-wrapper {
    height: 50vh;
  }

  .list-start {
    @include raleway;
    color: $gfbio-light-blue;

    p {
      color: inherit;
      font-size: 1.2rem;
      margin: 0;
    }

    i {
      display: block;
      color: inherit;
      font-size: 5rem;
    }

    &:hover {
      color: $contrast-1;
    }
  }

  ul {

    li {

      border-color: $form-gray-1;
      background-color: $gray-100;
      margin: .5rem 0 .5rem 0;
      //padding-top: 0;
      //padding-bottom 0;
      padding: 0;

      color: $gray-800;
      //background-color: $white;

      &:first-child {
        border-radius: 0;
      }

      &:last-child {
        border-radius: 0;
      }

      .wrapping-row {
        //background-color: $gray-100;
      }

      a {
        @include raleway;
        color: $gray-800;
        //background-color: $gray-100;
        text-decoration: none;
        //padding: 0 0 0 .5rem;
        padding: .5rem;
        font-size: .9rem;

        -webkit-transition: all 0ms;
        -moz-transition: all 0ms;
        -o-transition: all 0ms;
        transition: all 0ms;

        //.list-col {
        //  padding: .5rem;
        //}

        //.title {
        //  //width: 65%;
        //  //padding-right: 1rem;
        //}

        span {
          padding-right: .75rem;
        }

        .status {
          //width: 10%;
          font-size: .75rem;
          font-weight: bold;
          text-align: left;
          color: $gray-600;
          //padding: .25rem 1rem .25rem 0;
          //padding-right: 1rem;
        }

        .issue {
          font-size: .75rem;
          text-align: left;
          color: $gray-600;
          font-weight: 400;
        }

        //.edit {
        //  //width: 10%;
        //}

        i {
          color: $gfbio-green;
          padding: 0 .75rem 0 .75rem;
          font-size: 1rem;
        }


        //&:hover {
        //  color: $white;
        //  background-color: $gfbio-light-blue;
        //
        //  .status {
        //    color: $white;
        //  }
        //
        //  i {
        //    color: $white;
        //  }
        //
        //  a.action {
        //    color: $white;
        //    background-color: $gfbio-light-blue;
        //
        //    &:hover {
        //      background-color: $color-primary-2;
        //    }
        //
        //    i {
        //      color: $white;
        //    }
        //  }
        //}

      }

      .actions {
        text-align: right;
        //width: 15%;

      }

      a.action {
        padding: .5rem;
        color: $gray-800;
        //background-color: $gray-100;

        i {
          color: $gray-700;
          padding: 0 .5rem 0 0;
        }
      }

      &:hover {
        border-color: $color-primary-2;
        color: $white;
        background-color: $gfbio-light-blue;

        a {
          color: $white;

          .status {
            color: $white;
          }

          i {
            color: $white;
          }
        }

        .issue {
          color: $white;
        }

        a.action {
          //padding: .5rem;
          //color: $gray-800;
          //background-color: $gray-100;
          &:hover {
            background-color: $color-primary-2;
          }

          i {
            //color: $gray-700;
            //padding: 0 .5rem 0 0;
          }
        }

      }


    }

  }

}

/* End Submission List */

/* sticky sidebar */
.sidebar {
  // TODO: hardcoded top margin to adapt for 57px floating main navigation
  //margin-top: 57px;
  top: 57px;
}

/* end sticky sidebar */

//.tooltip [class$="arrow"] {
//  //border-color: lime;
//  //border-top: 5px solid background-color !important;
//  &:before {
//    border-right-color: $gray-dark-2 !important;
//  }
//}

/*

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #00cc00 !important;
}
.tooltip.bs-t
*/
//.tooltip-inner {
//  max-width: 200px;
//  padding: 3px 8px;
//  color: #0f0;
//  text-align: center;
//  background-color: #000;
//  border-radius: .25rem;
//}
//
//.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
//  margin-top: -3px;
//  content: "";
//  border-width: 5px 5px 5px 0;
//  border-right-color: #00f;
//}

// TODO: used in forms_1.html . assuming one form around all fields to submit all fields
//  in one action, maybe also to allow easier layouting
// TODO: also used in submission_form_mock.html
form.pagewide-form {

  .form-group {
    margin-bottom: 2rem;
  }

  //section.sub-navi {
  //  // TODO: hardcoded top margin to adapt for 57px floating main navigation
  //  margin-top: 57px;
  //  padding: .5rem 0 2rem 0;
  //
  //  .nav {
  //
  //    /*
  //     font-size: .8rem;
  //    color: $gray-800;*/
  //
  //    .nav-link {
  //      font-size: .85rem;
  //      color: $gray-800;
  //
  //    }
  //
  //    .active {
  //      font-weight: bold;
  //    }
  //
  //  }
  //
  //}

  .alert-heading {
    color: $error-red;
    font-size: 1.2rem;

    i {
      padding: 0 .5rem 0 .5rem;
    }
  }

  .validation-error-item {
    font-size: .9rem;

    i {
      padding-right: .5rem;
    }
  }

  .form-header-top {
    margin-bottom: 1.5rem;
  }

  .form-header {
    margin: 2rem 0;
  }

  .section-title {
    text-transform: none;
    color: $gray-dark-2;
  }

  .header {
    letter-spacing: normal;
    border-bottom: 1px solid $gray-medium;
  }

  .gray-background {
    background-color: $gray-100;
    border: 1px solid $gray-200;
    border-radius: .25rem;
    padding: .75rem 0 .25rem 0;
  }

  .save-header {
    .section-title {
      font-size: 1.2rem !important;
    }

    //padding-left: 1.25rem;
    i {
      padding: 0 .5rem 0 .5rem;
      color: $gfbio-green;
    }
  }

  .error-header {
    .section-title {
      font-size: 1.2rem !important;
    }

    i {
      padding: 0 .5rem 0 .5rem;
      color: $error-red;
    }
  }

  .save-text {
    padding: .75rem 1.25rem;
    font-size: .9rem;
    color: $gray-700;
  }

  .input-error {
    font-size: 0.85rem;
    color: $error-red;
    padding: .75rem .75rem 0 .75rem;
  }

  input {

    font-size: .9rem;

    &::placeholder {
      font-size: 0.85rem;
    }

    &:focus {
      border-color: $gfbio-green-0-7;
      box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
      outline-color: $gfbio-green-0-7;
    }

  }

  #multiselectContainerReact {
    input {
      &:focus {
        border-color: transparent !important;
        box-shadow: none;
        outline-color: transparent !important;
      }

    }
    span[class^="chip"] {
      background: $gfbio-light-blue;
    }
  }


  .contributor-draggable-btn {
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 125px;
    white-space: nowrap;
    padding-left: 0;
    padding-top: 6px;
  }

  .droppable-contributors {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    min-height: 100%;
    padding: 10px;
  }

  .add-contributor-col {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    min-height: 100%;
    padding: 10px;
  }

  .add-contributor-col .card-body {
    border: none;
    padding: 10px;
  }

  .add-contributor-div {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .show-contributors-btn {
    padding-top: 4px;
  }

  .m-bt-0 {
    margin-bottom: 0;
  }

  option {
    font-size: .9rem;
  }

  textarea {

    &::placeholder {
      font-size: 0.85rem;
    }

    &:focus {
      border-color: $gfbio-green-0-7;
      box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
      outline-color: $gfbio-green-0-7;
    }

  }

  .custom-control-label {
    font-size: 1rem;
    color: $gray-dark;
  }

  .custom-control-input {
    &:checked ~ .custom-control-label::before {
      background-color: $gfbio-green;
      border-color: $gfbio-green-0-7;
    }

    &:focus ~ .custom-control-label::before {
      border-color: $gfbio-green-0-7;
      box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
      outline-color: $gfbio-green-0-7;
    }

  }

  //.upload-checkbox {
  //  &:checked ~ .custom-control-label::before {
  //    background-color: $gfbio-green;
  //    border-color: $gfbio-green-0-7;
  //  }
  //
  //  &:focus ~ .custom-control-label::before {
  //    border-color: $gfbio-green-0-7;
  //    box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
  //    outline-color: $gfbio-green-0-7;
  //  }
  //
  //}
  //input[type="checkbox"] {
  //  display: none;
  //}
  //
  //input[type="checkbox"] + label::before {
  //  width: 15px;
  //  height: 15px;
  //  border-radius: 15px;
  //  border: 2px solid #8cad2d;
  //  background-color: #fff;
  //  display: block;
  //  content: "";
  //  float: left;
  //  margin-right: 5px;
  //}
  //
  //input[type="checkbox"]:checked + label::before {
  //  box-shadow: inset 0px 0px 0px 3px #fff;
  //  background-color: #8cad2d;
  //}

  li.publication {
    font-size: .9rem;
    border: none;
    background-color: $light-blue-0;
    border: 1px solid $gfbio-light-blue;
    border-radius: .25rem;
    padding: .375rem .75rem .375rem .75rem;
    margin-bottom: .25rem;
    color: $gfbio-light-blue;
    font-size: 1rem;

    &:hover {
      z-index: inherit;
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    i.pub {
      padding-right: 1rem;
    }

    .btn-remove {
      //color: $lb0-contrast;
      color: $contrast-2;
      font-size: .75rem;
      padding: .25rem;

      &:hover {
        font-weight: bold;
      }

      i {
        padding-right: .5rem;
      }
    }

  }

  .pending {
    background-color: $white;

    &:hover {
      background-color: $gray-100;
    }
  }

  .error {
    background-color: $error-background;

    &:hover {
      background-color: $error-background-hover;
    }
  }

  .success {
    background-color: $gfbio-green-0-1;

    &:hover {
      background-color: $gfbio-green-0-3;
    }
  }

  li.file-upload {
    font-size: .9rem;
    //border-radius: .25rem;
    border: none;
    padding: .375rem .75rem .375rem .75rem;
    margin-bottom: .25rem;
    color: $gray-dark-2;

    //.pbar-test {
    //  width: 100%;
    //  height: 25px;
    //  background-color: limegreen;
    //}


    .progress {
      background-color: inherit;
      height: 2px;
      //margin-bottom: 1px;
      z-index: 99;
      border-radius: 0;

      .progress-bar {
        background-color: $gfbio-green-0-9;
        //border-radius: 0;
      }

    }

    &:last-child {
      margin-bottom: 1rem;
    }

    //&:hover {
    //  background-color: $gray-100;
    //}

    small.file-size {
      font-weight: 400;
    }

    i.pub {
      padding-right: 1rem;
      font-size: 1.25rem;
      color: $gfbio-green;
    }

    .btn {
      font-size: .75rem;
      padding: .25rem;

      i {
        font-size: 1.25rem;
      }
    }

    .btn-remove {
      color: $contrast-2;

      &:hover {
        color: $error-red;

        i {
          //font-size: 1.5rem;
        }
      }
    }

    .btn-download {
      color: $gfbio-light-blue;
      //margin-right: 1rem;

      &:hover {
        color: $gfbio-blue;

        i {
          //font-size: 1.5rem;
        }
      }
    }

    .btn-metadata {
      i {
        font-size: 0.75rem;
      }

      span {
        @include raleway;
        //text-transform: uppercase;
        //font-weight: 300;
      }
    }

    .upload-header {

      i.help {
        font-size: 1.25rem;
        padding-left: .5rem;
      }
    }


    small.file-name {
      //input[type="checkbox"] {
      //  display: none;
      //}
      //
      //input[type="checkbox"] + label::before {
      //  width: 15px;
      //  height: 15px;
      //  border-radius: 15px;
      //  border: 2px solid #8cad2d;
      //  background-color: #fff;
      //  display: block;
      //  content: "";
      //  float: left;
      //  margin-right: 5px;
      //}
      //
      //input[type="checkbox"]:checked + label::before {
      //  box-shadow: inset 0px 0px 0px 3px #fff;
      //  background-color: #8cad2d;
      //}

      label.metadata {
        font-size: 1.1rem;
        color: $gray-dark-2;
        border-right: 1px dashed $gray-medium;
        padding: 0 1rem 0 1.5rem;
        margin-right: 1rem;
      }

      input[type=checkbox] {
        display: none;
      }

      /* to hide the checkbox itself */
      input[type=checkbox] + label:before {
        font-family: "Ionicons";
        display: inline-block;

      }

      input[type=checkbox] + label:before {
        content: "\f360";
      }

      /* unchecked icon */
      input[type=checkbox] + label:before {
        //letter-spacing: 10px;
      }

      /* space between checkbox and label */

      input[type=checkbox]:checked + label:before {
        content: "\f2ba";
      }

      /* checked icon */
      input[type=checkbox]:checked + label:before {
        //letter-spacing: 5px;
      }

      /* allow space for check mark */
    }

  }

  .template-links {

    a {
      border: none;
      //border-right: 1px solid $gfbio-light-blue;
      border-bottom: 1px solid $gray-200;
      border-radius: 0 0 0 0;
      color: $gfbio-light-blue;
      margin-bottom: .25rem;

      i {
        padding-right: .75rem;
      }

      &:hover {
        color: $contrast-1;
        background-color: $white;
      }
    }
  }

  .dropzone {
    border: 1px solid $form-gray-1;
    border-radius: .25rem;
    padding: .375rem .75rem .375rem .75rem;
    height: 8rem;

    &:focus {
      border-color: $gfbio-green-0-7;
      box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
      outline-color: $gfbio-green-0-7;
    }
  }

  .contributor {
    font-size: 1rem;
    padding-right: .5rem;
  }

  // works on btn-primary
  .btn-contributor {
    //border-color: darken($gfbio-green, .2);
    //background-color: $gfbio-green;
    //color: $white !important;
    color: $gfbio-light-blue;
    background-color: $white;
    border: none;

    &:focus {
      box-shadow: none;
    }

    &:hover, &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      &:focus {
        box-shadow: none;
      }

      color: $contrast-1;
      background-color: $white;
      border: none;
      box-shadow: none;
    }

    i {
      padding-right: .5rem;
    }

  }


  .btn-license {
    background-color: $gray-100;
    color: $gray-dark-2;
    border-color: $gray-400;

    p {
      color: $gray-dark-2;
      font-size: .75rem;
      text-decoration: none;
      float: right;
      line-height: 1.5rem;
      margin: 0;
      padding: 0;
    }

    &:focus {
      box-shadow: none;
    }

    &:hover, &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      &:focus {
        box-shadow: none;
      }

      background-color: $white;
      color: $gray-dark-2;
      border-color: $gray-400;

      a {
        color: $gfbio-light-blue;
      }

      p {
        color: $gfbio-light-blue;
      }

    }

    i {
      padding-right: 1rem;
    }

    a {
      color: $gray-dark-2;
      font-size: .75rem;
      text-decoration: none;
      float: right;
      line-height: 1.5rem;
    }
  }

  .btn-license-detail {
    padding: 0;
    margin: 0;
    border: 0;
    float: right;
    color: $gray-dark-2;
    font-size: .75rem;
    line-height: 1.5rem;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: $gfbio-light-blue;
    }

  }


  .card {
    .form-group {
      margin-bottom: 1rem;
    }

  }

  h5 {
    text-transform: none;
    color: $gray-dark-2;
    letter-spacing: normal;
  }

  label {
    font-size: .85rem;
    color: $gray-dark;
  }

  .custom-file {
    outline-color: $gfbio-green-0-7;
  }

  .custom-file-input:focus ~ .custom-file-label::after {
    outline-color: $gfbio-green-0-7;
    border-left-color: $gfbio-green-0-7;
  }

  .custom-file-input:focus ~ .custom-file-label {
    border-color: $gfbio-green-0-7;
    box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
    outline-color: $gfbio-green-0-7;
  }

  .accordion-form-content {

    .card {
      border: none;
      padding: 0;

      li {
        border: none;
        padding: 0;

        .btn-license {
          border: none;
          //border-radius: 0;
          background-color: $white;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom: 1px solid $gray-400;
          margin-bottom: 1px;

          &:hover {
            background-color: $gray-100;
          }

        }

      }
    }

  }

  select {
    color: $gray-dark;

    &:focus {
      border-color: $gfbio-green-0-7;
      box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
    }
  }

  /*
    embargo date styles


    .btn-contributor {
    //border-color: darken($gfbio-green, .2);
    //background-color: $gfbio-green;
    //color: $white !important;
    color: $gfbio-light-blue;
    background-color: $white;
    border: none;

    &:focus {
      box-shadow: none;
    }

    &:hover, &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      &:focus {
        box-shadow: none;
      }

      color: $contrast-1;
      background-color: $white;
      border: none;
      box-shadow: none;
    }

    i {
      padding-right: .5rem;
    }

  }

  */
  // btn-link overwrite
  // TODO: make generic as other button classes
  .btn-link-light-blue {
    color: $gfbio-light-blue;
    text-decoration: none;

    &:hover {
      color: $contrast-1;
    }

    i {
      padding-right: .5rem;
      font-size: 1.5rem;
    }

    span {
      //display: inline-block;
    }
  }

  .submission-info {
    color: $gray-dark-2;
    //background-color: $gray-100;
    background-color: $white;
    border: 1px solid $gray-400;
    border-radius: .25rem;
    padding: .75rem;
    margin-bottom: 2rem;

    ul {

      li {
        background-color: transparent;
        border: none;
        padding: .375rem 0 .375rem 0;

        a, p {
          text-decoration: none;
          //color: $gfbio-light-blue;
          color: $gray-dark-2;

          //font-size: .9rem;

          .bsi {
            margin: .5rem 0 0 .5rem;
            padding-left: .5rem;
            border-left: 2px solid $gray-400;
            font-size: 0.7rem;
          }

          //small {
          //  padding-left: .5rem;
          //}

          i {
            padding-right: .5rem;
          }
        }

        a.external {
          color: $gfbio-light-blue;
          .bsi {
            border-color: $gfbio-light-blue-0-6;
          }

          &:hover {
            color: $contrast-1;
            .bsi {
              border-color: $contrast-1;
            }
          }
        }

      }
    }


  }


}


/*
    Overwrite react-datepicker styles
   */
.react-datepicker {
  //width: 100%;
}

.react-datepicker-wrapper {
  //width: 100%;
}

.react-datepicker__month-container {
  //width: 100%;
}

.react-datepicker__input-container {
  //width: 100%;
}

.react-datepicker {
  @include raleway;
  //border-color: $form-gray-1;
  border: none !important;
}

.react-datepicker__header {
  //border-color: $form-gray-1;
  border: none !important;
  background-color: $gray-100 !important;
}

.react-datepicker__current-month {
  @include sans-serif-font;
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: $gray-dark !important;
}

.react-datepicker__day-name {
  @include raleway;
  // TODO: gets overwritten in production ...
  font-family: Raleway !important;
  //font-weight: 400;
  //font-size: .9rem;
  //color: $gray-dark;
}

.react-datepicker__day {
  //font-weight: 400;
  font-size: .9rem !important;
  color: $gray-700 !important;

  &:focus {
    //border-radius: .3rem;
    //border-color: $gfbio-green;
  }

  &:hover {
    background-color: $gfbio-green !important;
    color: $white !important;
    border-radius: .25rem !important;
    //border: 1px solid $gfbio-green;
  }
}

.react-datepicker__day--selected {
  background-color: $gfbio-light-blue !important;
  color: $white !important;
}

.react-datepicker__day--outside-month {
  color: $gray-400 !important;
}
