// Mixins
@import "font_faces.scss";

@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin serif-font() {
  font-family: 'Merriweather', serif;
}

@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// same as sans-serif-font above
@mixin open-sans() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// also a sans-serif style font
@mixin raleway() {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Navbar Mixins

@mixin themifyAfter() {
  color: $gray-900;
  font-size: 0.7rem;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-left: .4rem;
}

@mixin themifyBefore() {
  color: $gray-900;
  font-size: 0.9rem;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-right: 1rem;
}

