#submission-ui {
    .metadata-templates::after{margin:0 !important; width:0 !important; height:0 !important}

    .form-col {
        padding-left:0;
        padding-right:30px;
    }

    .sidebar-col {
       padding-left:0;
    }

    .form-footer {
        margin-left: -15px;
    }

    .submit-btn {
        margin-left: -15px;
        padding-left:0;
    }

    .metadata_data_title {
        padding: 5px !important;
        margin-bottom: 0 !important;
    }

    .metadata_data_last_title {
        padding: 5px !important;
        margin-bottom: 0 !important;
        margin-top: 15px !important;
    }

    .no-border {
        border-bottom: none !important;
        border-bottom-width: 0 !important;
        padding-bottom: 0 !important;
    }
}

.embargo-picker {
    min-height: 280px;
}
.embargo-footer {
    margin-top: -20px;
}

