{% extends "base.html" %}
{% load static %}

{% block content-wrapper %}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">

            <div class="row">

                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-sm-4 align-self-center p-0">
                            <!-- TODO: add PNG fallback for older browsers. https://toddmotto.com/mastering-svg-use-for-a-retina-web-fallbacks-with-png-script/ -->
                            <img class=""
                                 src="{% static 'images/gfbio_logo_landing.svg' %}">
                        </div>
                        <div class="col-sm-8 align-self-center">

                            <h1 class="text-center main">
                                Submissions
                            </h1>

                            <h3 class="text-center m-0">
                                Data submission & publishing services for
                                Biodiversity, Ecology & Environmental Studies
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-10 mx-auto mt-5">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12 col-sm-12">
                                <a href="#"
                                   class="btn btn-block btn-secondary btn-landing-search">
                                    Start your submission. now !
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 mx-auto">
                    <p class="landing-page-caption">Already using our Service ?
                        <a href="#">Sign In</a></p>
                </div>

            </div>

        </div>

    </header>

{% endblock content-wrapper %}

{% block footer %}
{% endblock footer %}