{% extends "base.html" %}
{% load static %}

{% block content-wrapper %}

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">

      <div class="row">

        <div class="col-lg-10 mx-auto">
          <div class="row">
            <div class="col-sm-4 align-self-center p-0">
              <!-- TODO: add PNG fallback for older browsers. https://toddmotto.com/mastering-svg-use-for-a-retina-web-fallbacks-with-png-script/ -->
              <a href="https://www.gfbio.org">
                <img class=""
                  {#                                                                     src="{% static 'images/gfbio_logo_landing.svg' %}"#}
                     src="{% static 'images/gfbio_logo_claim_landing.svg' %}"
                     alt="GFBio">
              </a>
            </div>
            <div class="col-sm-8 align-self-center">

              <h1 class="text-center main">
                Data Submissions
              </h1>

              <h3 class="text-center m-0">
                Long-term data archival & publication
                services for Biodiversity, Ecology &
                Environmental Science
                {#                                Data submission & publishing services for#}
                {#                                Biodiversity, Ecology & Environmental Studies#}
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-10 mx-auto mt-5">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12 col-sm-12">
                <a href="/ui/submission/form/"
                   class="btn btn-block btn-secondary btn-landing-search">
                  Submit your Data !
                  {#                                    Start your submission. now !#}
                </a>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4 mx-auto">
          <p class="landing-page-caption">Already using our service ?
            <a href="/accounts/login/">Sign In</a></p>
        </div>

        {#  TODO: for notification use banner below  #}
        {#        <div class="alert alert-success" role="alert">#}
        {#          <h4 class="alert-heading">#}
        {#            <i class="fa fa-lg fa-tree"#}
        {#               aria-hidden="true"></i>&nbsp;&nbsp;#}
        {#            Reduced service from 2024-12-16 to 2025-01-06&nbsp;&nbsp;#}
        {#            <i class="fa fa-lg fa-tree"#}
        {#               aria-hidden="true"></i>#}
        {#          </h4>#}
        {#          <p>#}
        {#            Please note: Requests that reach our #GFBioHelpdesk,#}
        {#            #GFBioDMPT and #GFBioSubmission Service between#}
        {#            2024-12-16 and 2025-01-06 will experience a delayed#}
        {#            response due to reduced staff capacities over the#}
        {#            holidays. We wish you all the best for 2025!#}
        {#          </p>#}
        {#        </div>#}
        {#  ---------------------------------------  #}

        {# temporary warning banner for ena downtime #}
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">
            Important Notice: ENA Submission Processing Downtime
          </h4>
          <p>
            The European Nucleotide Archive (ENA) will undergo scheduled cluster downtime and maintenance from
            <strong>Monday, May 12th, to Friday, May 16th, 2025.</strong>
            During this period, ENA will not be processing submissions, and any new submissions may encounter issues during the submission process.
            Following ENA's advice, no data should be submitted until Friday, 16th May.
          </p>
          <p>
            If you are planning to submit data to ENA during this time via our Submission Service, be aware that there will be delays in the processing and brokering of your data.
          </p>
          <p>
            Thank you for your understanding.
          </p>
        </div>


      </div>

      {#            <div class="row">#}
      {#            <span style="position: absolute; bottom: 2rem; left: 2rem;" class="">#}
      {#                <a href="/accounts/login/">#}
      {#                    <img height="21" class=""#}
      {#                         src="{% static 'images/dfg_logo_blue_w600.png' %}">#}
      {#                </a>#}
      {#            </span>#}
      {#            </div>#}
      <div class="dfg_logo_container fixed-bottom">
        <a href="https://www.dfg.de/">
          <img class=""
               src="{% static 'images/dfg_logo_black_w750.png' %}"
               alt="Deutsche Forschungsgemeinschaft">
        </a>
      </div>
    </div>

  </header>

{% endblock content-wrapper %}

{% block footer %}
{% endblock footer %}
