{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="row" id="account">
        <div class="col-md-5 offset-md-3">

            <div class="text-center">
                <a href="{% url 'home' %}" class="text-center account-logo">
                    <img src="{% static 'images/GFBio_logo_174x86.png' %}">
                </a>
                <h4 class="social mt-3">
                    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
                        {{ provider_name }} Sign Up
                    {% endblocktrans %}
                </h4>
            </div>

            <div class="boxed">

                <p class="text-center">
                    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
                        You are about to use your <b>{{ provider_name }}</b>
                        account to
                        login
                        to
                        <b>{{ site_name }}</b>. Please provide the following information to complete the process.
                    {% endblocktrans %}</p>

                <form class="login" id="signup_form" method="post"
                      action="{% url 'socialaccount_signup' %}">

                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.agree_terms|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.agree_privacy|as_crispy_field }}
                        </div>
                    </div>


                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-block btn-secondary green mt-4"
                            type="submit">{% trans "Sign Up" %} &raquo;
                    </button>

                </form>


            </div>
        </div>
    </div>
{% endblock %}