{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% block search %}
    <p>Search by submitting parts, or the complete</p>
    <ul>
        <li>name</li>
        <li>username</li>
        <li>email</li>
        <li>groupname</li>
    </ul>
    <p>
        E.g. you will get results for user <b>John Doe, jdoe, j.doe@git.com</b>
        when searching by entering <b>doe, Doe, joe, jo, .doe, @git.com,
        .com</b> and so on. Pre-condition is that the entered value is
        present in
        the listed fields.
    </p>
    {% search_form cl %}
{% endblock %}
