{
    "openapi": "3.0.0",
    "info": {
        "version": "1.117.0",
        "title": "GFBio Submission API",
        "description": "A service to submit data provided by the GFBio Consortium",
        "termsOfService": "https://www.gfbio.org/legal-notice",
        "contact": {
            "name": "GFBio Helpdesk",
            "email": "info@gfbio.org",
            "url": "https://submissions.gfbio.org/"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://submissions.gfbio.org/api"
        }
    ],
    "paths": {
        "/submissions/": {
            "get": {
                "description": "List all submissions you have permission to access.",
                "operationId": "list submissions",
                "responses": {
                    "200": {
                        "description": "Submissions response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Submission"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new Submission",
                "operationId": "create submission",
                "requestBody": {
                    "description": "Submission to submit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Submission"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Submission"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "(molecular)/submissions/": {
            "post": {
                "description": "Create a new molecular Submission, fully validated",
                "operationId": "create molecular submission",
                "requestBody": {
                    "description": "Submission to submit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MolecularSubmission"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MolecularSubmission"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions/{broker_submission_id}": {
            "get": {
                "description": "Returns a single submission, identified by a unique broker_submission_id",
                "operationId": "get submission by broker-submission-id",
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Submission"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Updates an existing Submission",
                "operationId": "update submission",
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Submission to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Submission"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Submission"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a Submission",
                "operationId": "delete submission",
                "responses": {
                    "204": {
                        "description": "Submission successfully deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ]
            }
        },
        "/submissions/{broker_submission_id}/upload/": {
            "post": {
                "description": "Upload a file associated to an existing submission",
                "operationId": "create submission upload",
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Submission to submit",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "media": {
                                        "type": "string",
                                        "format": "base64"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Submission upload response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmissionUpload"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions/{broker_submission_id}/upload/{primary_key}": {
            "put": {
                "description": "Updates an existing SubmissionUpload",
                "operationId": "update submission upload",
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "primary_key",
                        "in": "path",
                        "description": "Unique id of SubmissionUpload",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Modified SubmissionUpload",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "media": {
                                        "type": "string",
                                        "format": "base64"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SubmissionUpload response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmissionUpload"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a SubmissionUpload",
                "operationId": "delete submission upload",
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "primary_key",
                        "in": "path",
                        "description": "Unique id of SubmissionUpload",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "SubmissionUpload successfully deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions/{broker_submission_id}/uploads/": {
            "get": {
                "description": "Returns a list of SubmissionUploads belonging to the same broker_submission_id",
                "operationId": "get submission uploads by broker-submission-id",
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission uploads to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SubmissionUploadListItem"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions/{broker_submission_id}/comment/": {
            "post": {
                "description": "Add a comment to the primary GFBIO-Helpdesk issue associated with a submission",
                "operationId": "add comment",
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Comment to attach",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Comment"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions/jira/update/": {
            "post": {
                "description": "Update a Submission based on data of a JIRA issue. Usually invoked via a JIRA hook.",
                "operationId": "update submission via jira",
                "requestBody": {
                    "description": "Data to update a submission via a JIRA hook.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JiraHookBody"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JiraHookBody"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Submission": {
                "allOf": [
                    {
                        "type": "object",
                        "properties": {
                            "target": {
                                "type": "string",
                                "enum": [
                                    "ENA",
                                    "ENA_PANGAEA",
                                    "GENERIC"
                                ]
                            },
                            "embargo": {
                                "type": "string",
                                "format": "date"
                            }
                        },
                        "required": [
                            "target"
                        ]
                    },
                    {
                        "$ref": "common_requirements_definitions.json#/minimal_requirements"
                    }
                ]
            },
            "SubmissionUpload": {
                "allOf": [
                    {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "broker_submission_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "user": {
                                "type": "string"
                            },
                            "file": {
                                "type": "string"
                            },
                            "attach_to_ticket": {
                                "type": "bool"
                            },
                            "meta_data": {
                                "type": "bool"
                            }
                        }
                    }
                ]
            },
            "SubmissionUploadListItem": {
                "allOf": [
                    {
                        "type": "object",
                        "properties": {
                            "pk": {
                                "type": "string"
                            },
                            "submission": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "user": {
                                "type": "string"
                            },
                            "file": {
                                "type": "string"
                            },
                            "file_name": {
                                "type": "string"
                            },
                            "file_size": {
                                "type": "number"
                            },
                            "attach_to_ticket": {
                                "type": "bool"
                            },
                            "meta_data": {
                                "type": "bool"
                            }
                        }
                    }
                ]
            },
            "MolecularSubmission": {
                "allOf": [
                    {
                        "type": "object",
                        "properties": {
                            "target": {
                                "type": "string",
                                "enum": [
                                    "ENA",
                                    "ENA_PANGAEA",
                                    "GENERIC"
                                ]
                            }
                        },
                        "required": [
                            "target"
                        ]
                    },
                    {
                        "$ref": "common_requirements_definitions.json#/minimal_requirements"
                    },
                    {
                        "$ref": "ena_study_definitions.json#/study"
                    },
                    {
                        "$ref": "ena_sample_definitions.json#/sample_array"
                    },
                    {
                        "$ref": "ena_experiment_definitions.json#/experiment_array"
                    },
                    {
                        "$ref": "ena_run_definitions.json#/run_array"
                    },
                    {
                        "$ref": "technical_content_definitions.json#/technical_requirements"
                    }
                ]
            },
            "ValidationError": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "validationError"
                        }
                    },
                    "optional_validation": {
                        "type": "array",
                        "items": {
                            "type": "validationError"
                        }
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            },
            "Comment": {
                "allOf": [
                    {
                        "type": "object",
                        "properties": {
                            "comment": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "comment"
                        ]
                    }
                ]
            },
            "JiraHookBody": {
                "allOf": [
                    {
                        "type": "object",
                        "properties": {
                            "issue": {
                                "type": "string",
                                "format": "json"
                            },
                            "changelog": {
                                "type": "string",
                                "format": "json"
                            },
                            "broker_submission_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "issue_key": {
                                "type": "string"
                            }
                        }
                    }
                ]
            },
            "Error": {
                "type": "object",
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}