{
    "openapi": "3.0.0",
    "info": {
        "version": "1.117.0",
        "title": "GFBio Submission API",
        "description": "A service to submit data provided by the GFBio Consortium",
        "termsOfService": "https://www.gfbio.org/legal-notice",
        "contact": {
            "name": "GFBio Helpdesk",
            "email": "info@gfbio.org",
            "url": "https://submissions.gfbio.org/"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://submissions.gfbio.org/api"
        }
    ],
    "paths": {
        "/submissions/": {
            "get": {
                "description": "List all submissions you have permission to access.",
                "operationId": "list submissions",
                "responses": {
                    "200": {
                        "description": "Submissions response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Submission"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new Submission",
                "operationId": "create submission",
                "requestBody": {
                    "description": "Submission to submit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Submission"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Submission"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions/{broker_submission_id}": {
            "get": {
                "description": "Returns a user based on a single ID, if the user does not have access to the pet",
                "operationId": "get submission by broker-submission-id"
            },
            "put": {
                "description": "Updates an existing Submission",
                "operationId": "update submission",
                "requestBody": {
                    "description": "Submission to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Submission"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Submission response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Submission"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a Submission",
                "operationId": "delete submission",
                "responses": {
                    "204": {
                        "description": "Submission successfully deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "broker_submission_id",
                        "in": "path",
                        "description": "Unique id of submission to fetch (A UUID specified by RFC4122).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Submission": {
                "allOf": [
                    {
                        "type": "object",
                        "properties": {
                            "target": {
                                "type": "string",
                                "enum": [
                                    "ENA",
                                    "ENA_PANGAEA",
                                    "GENERIC"
                                ]
                            }
                        },
                        "required": [
                            "target"
                        ]
                    },
                    {
                        "$ref": "common_requirements_definitions.json#/minimal_requirements"
                    }
                ]
            },
            "ValidationError": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "validationError"
                        }
                    },
                    "optional_validation": {
                        "type": "array",
                        "items": {
                            "type": "validationError"
                        }
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            },
            "Error": {
                "type": "object",
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}