footer {
    background-color: $gray-darker;
    padding: 4rem;

    img {
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }

    h6 {
        @include raleway;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: .75rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
    }

    hr {
        max-width: none;
        border-top: 1px solid $gray-700;
        width: 100%;
    }

    ul {
        li {
            a {
                text-decoration: none;
                //@include raleway;
                //text-transform: uppercase;
                color: $white;
                //font-weight: 600;
                font-size: 0.8rem;
                //text-decoration: none;
                //margin-right: 4rem;
                &:hover {
                    text-decoration: none;
                    color: $gray-medium;
                }

                i {
                    //font-size: 0.9rem;
                    padding-right: 0.5rem;
                }
            }

        }
    }
}