// Variables

$white: #fff !default;
$white-opac: rgba(255, 255, 255, .3);

$gray-100: #f8f8f8 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$form-gray-1: #ced4da !default;

$gray-medium: #ccc !default;
$gray-dark: #666 !default;
$gray-dark-2: #495057 !default; // same as gray-700 ?
$gray-darker: #343434 !default;
$gray-darkest: #292929 !default;

// $primary: #F05F40 !default;

// gfbio colors
$gfbio-blue: #345AA2 !default;
$gfbio-blue-0-6: rgba(52, 90, 162, .6) !default;
$gfbio-blue-0-8: rgba(52, 90, 162, .9) !default;
$gfbio-blue-0-8-fulltone: #476AAB !default;
$gfbio-blue-0-1: rgba(52, 90, 162, .1) !default;

$gfbio-light-blue: #3CACE4 !default;
$gfbio-light-blue-0-6: rgba(60, 172, 228, .6) !default;
$gfbio-light-blue-0-1: rgba(60, 172, 228, .1) !default;

$gfbio-green: #81B248 !default;
$gfbio-green-0-9: rgba(129, 178, 72, .9) !default;
$gfbio-green-0-7: rgba(129, 178, 72, .7) !default;
$gfbio-green-0-6: rgba(129, 178, 72, .6) !default;
$gfbio-green-0-3: rgba(129, 178, 72, .3) !default;
$gfbio-green-0-1: rgba(129, 178, 72, .1) !default;

$primary: $gfbio-blue !default;

$contrast-1: #FF8362 !default;
$contrast-2: #FF6339 !default;
$error-red: #dc3545 !default;


/*
 https://coolors.co/3cade4-78c0e0-192bc2-150578-0e0e52
*/

//$light-blue-0: #f1f9fc !default;
$light-blue-0: #f8fcfd !default;
$lb0-contrast: #ff3366 !default;
$light-blue-1: #edf7fc !default;

// COLOR HARMONIES FOR LIGHT BLUE
// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=33s0u0koNRMdAWOjEUfu5OrJxGX */

// Feel free to copy&paste color codes to your application */

// As hex codes */
//
$color-primary-0: #3CADE4;	// Main Primary color */
$color-primary-1: #91D3F3;
$color-primary-2: #62BEEB;
$color-primary-3: #179BDA;
$color-primary-4: #0586C4;

$color-secondary-1-0: #FFC839;	// Main Secondary color (1) */
$color-secondary-1-1: #FFE193;
$color-secondary-1-2: #FFD462;
$color-secondary-1-3: #FFBD0F;
$color-secondary-1-4: #FFB800;

$color-secondary-2-0: #FF6339;	// Main Secondary color (2) */
$color-secondary-2-1: #FFA993;
$color-secondary-2-2: #FF8362;
$color-secondary-2-3: #FF410F;
$color-secondary-2-4: #FF3500;
//
//
//
//// As RGBa codes */
//
//$rgba-primary-0: rgba( 60,173,228,1);	// Main Primary color */
//$rgba-primary-1: rgba(145,211,243,1);
//$rgba-primary-2: rgba( 98,190,235,1);
//$rgba-primary-3: rgba( 23,155,218,1);
//$rgba-primary-4: rgba(  5,134,196,1);
//
//$rgba-secondary-1-0: rgba(255,200, 57,1);	// Main Secondary color (1) */
//$rgba-secondary-1-1: rgba(255,225,147,1);
//$rgba-secondary-1-2: rgba(255,212, 98,1);
//$rgba-secondary-1-3: rgba(255,189, 15,1);
//$rgba-secondary-1-4: rgba(255,184,  0,1);
//
//$rgba-secondary-2-0: rgba(255, 99, 57,1);	// Main Secondary color (2) */
//$rgba-secondary-2-1: rgba(255,169,147,1);
//$rgba-secondary-2-2: rgba(255,131, 98,1);
//$rgba-secondary-2-3: rgba(255, 65, 15,1);
//$rgba-secondary-2-4: rgba(255, 53,  0,1);

// Generated by Paletton.com Â© 2002-2014 */
// http://paletton.com */
