{% extends "account/base_with_navi.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <h2 class="mb-4">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}"
          class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary green" type="submit"
                name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}

