{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block inner %}
    <div class="text-center">
        <a href="{% url 'home' %}" class="text-center account-logo">
            <img src="{% static 'images/gfbio_logo.svg' %}">
        </a>
        <h4 class="mt-3">
            {% trans "Sign up to GFBio Submissions" %}
        </h4>
    </div>
    <div class="boxed">

        <div class="text-center gfbio_signup">
            <a
                    href="https://academiccloud.de/registration">
                <p class="text-center">
                    Click here to sign up for a GFBio account.
                    <small></small>
                </p>
                <button class="btn btn-sm btn-block btn-light localLoginLink p-3">
                    {#                        <img src="{% static 'images/gfbio_logo.dark.svg' %}">#}
                    <span class="align-bottom login_background"></span>
                    <span class="align-bottom">Sign up</span>
                </button>
            </a>

        </div>

        <p class="signup_subtext">{% blocktrans %}
            Already have an
            account? Then please
            <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        {# TODO: do not remove: SIGNIN via local user directly  #}
                <a class="btn btn-sm btn-block btn-light localLoginLink"
                   data-toggle="collapse"
                   href="#localLoginForm"
                   role="button"
                   aria-expanded="false"
                   aria-controls="localLoginForm">
                    Sign up for a local account
                </a>
                <div class="collapse" id="localLoginForm">
                    <div class="card card-body">
                        <form class="signup" id="signup_form" method="post"
                              action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <button class="btn btn-block btn-sm btn-secondary green mt-4"
                                    type="submit">{% trans "Sign Up" %}
                            </button>
                        </form>
                    </div>
                </div>

    </div>
{% endblock %}

