{#{% extends "base_content.html" %}#}
{% load static %}
{##}
{#{% block content %}#}
{##}
{#  <h1>Profile Frontend</h1>#}
{##}
{#  <div id="root"></div>#}
{##}
{#{% endblock content %}#}
{##}
{##}
{#{% block javascript %}#}
{##}
{#  <!-- submission-profile-ui react app  -->#}
{#  <script type="module" crossorigin src="{% static 'js/submission-profile-ui/index-lRY6-Uz0.js' %}"></script>#}
{#  <link rel="stylesheet" crossorigin href="{% static 'js/submission-profile-ui/index-CQMlX68p.css' %}">#}
{##}
{#{% endblock javascript %}#}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vite + React</title>
  <script type="module" crossorigin src="{% static 'js/submission-profile-ui/index-CkVoYS_n.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'js/submission-profile-ui/index-CQMlX68p.css' %}">
</head>
<body>
<div id="root"></div>
</body>
</html>
