{% extends "base_content.html" %}
{% load static %}


{% block extra_css %}
  <link rel="stylesheet" crossorigin href="{% static 'js/submission-profile-ui/index.css' %}">
{% endblock extra_css %}

{% block content %}
  <script>
    window.props = {{ parameters|safe }};
  </script>
  {% if active_banners %}
    {% include "utils/banners.html" %}
  {% endif %}
  <div id="root"></div>

{% endblock content %}


{% block thirdPartyJavaScript %}

  <!-- submission-profile-ui react app  -->
  <script type="module" crossorigin src="{% static 'js/submission-profile-ui/index.js' %}"></script>

{% endblock thirdPartyJavaScript %}
