{% extends "base.html" %}
{# TODO: check if there is a more elegant way to differ navi ids #}


{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
            {% block navigation-id %}
                id="mainNavBase"
            {% endblock navigation-id %}
    >
        <div class="container-fluid">
            {# TODO: keep optional js-scroll-trigger in mind, for now it is not used  #}
            <a class="navbar-brand ms-3" href="{% url 'home' %}">
                GFBio
                <small class="fw-normal">Submissions</small>
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {#                <ul class="navbar-nav mr-auto">#}
                {##}
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link "#}
                {#                           href="{% url 'home' %}">Home</a>#}
                {#                    </li>#}
                {#                </ul>#}
                <ul class="navbar-nav ms-auto me-3">
                    <li class="nav-item me-5">
                        <a class="nav-link help-link"
                           href="mailto:info@gfbio.org?subject=Help with Submission&body=Dear GFBio Team,"
                        >
                            Do you need Help ?
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link has-dropdown"
                               data-bs-toggle="dropdown"
                               href="#"
                               role="button"
                               aria-expanded="false">
                                {% if request.user.name != '' %}
                                    {{ request.user.name }}
                                {% else %}
                                    {{ request.user.username }}
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item user-signout"
                                   href="{% url 'account_logout' %}">Sign Out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            {# URL provided by django-allauth/account/urls.py #}
                            <a class="nav-link btn btn-secondary btn-sm sign-up"
                                    {#                               href="{% url 'account_signup' %}"#}
                               href="https://sso.gfbio.org/simplesaml/module.php/accountui/register.php"
                            >
                                Sign Up
                            </a>
                        </li>
                        <li class="nav-item ms-2">
                            {# URL provided by django-allauth/account/urls.py #}
                            <a class="nav-link btn btn-secondary btn-sm sign-in"
                               href="{% url 'account_login' %}">
                                Sign In
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock navigation %}