{% extends "base_redoc.html" %}
{# Bootstrap-4-compatible variant of base_content for ReDoc pages #}

{% block extra_css %}
    {{ block.super }}
    <style>
      #redoc-wrapper pre {
        color: #f8f9fa !important;
      }
      #redoc-wrapper pre code,
      #redoc-wrapper pre code span {
        color: inherit !important;
      }
    </style>
{% endblock extra_css %}

{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top"
            {% block navigation-id %}
                id="mainNavBase"
            {% endblock navigation-id %}
    >
        <div class="container-fluid">
            <a class="navbar-brand ml-3" href="{% url 'home' %}">
                GFBio
                <small class="font-weight-normal">Submissions</small>
            </a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto mr-3">
                    <li class="nav-item mr-5">
                        <a class="nav-link help-link"
                           id="navbar-help-link"
                           href="mailto:info@gfbio.org?subject=Help with Submission&body=Dear GFBio Team,">
                            Do you need Help ?
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link has-dropdown"
                               data-toggle="dropdown"
                               href="#"
                               role="button"
                               aria-expanded="false">
                                {% if request.user.name != '' %}
                                    {{ request.user.name }}
                                {% else %}
                                    {{ request.user.username }}
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item user-signout"
                                   href="{% url 'account_logout' %}">Sign Out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary btn-sm sign-up"
                               id="navbar-signup-link"
                               href="https://sso.gfbio.org/simplesaml/module.php/accountui/register.php">
                                Sign Up
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link btn btn-secondary btn-sm sign-in"
                               id="navbar-signin-link"
                               href="{% url 'account_login' %}">
                                Sign In
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock navigation %}
